.Player1 {
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 왼쪽 아래에 배치 */
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 5px;
}

.Player1 button {
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.Player1 .red { background-color: red; }
.Player1 .orange { background-color: orange; }
.Player1 .yellow { background-color: yellow; }
.Player1 .green { background-color: green; }
.Player1 .blue { background-color: blue; }
.Player1 .purple { background-color: purple; }
.Player1 .pink { background-color: pink; }


.Player2 {
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 오른쪽 위에 배치 */
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 20px;
}

.Player2 button {
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.Player2 .red { background-color: red; }
.Player2 .orange { background-color: orange; }
.Player2 .yellow { background-color: yellow; }
.Player2 .green { background-color: green; }
.Player2 .blue { background-color: blue; }
.Player2 .purple { background-color: purple; }
.Player2 .pink { background-color: pink; }

.Player1 button.highlight-button1 {
    transform: scale(1.1);
    box-shadow: 0 0 15px grey;
}

.Player2 button.highlight-button2 {
    transform: scale(1.1);
    box-shadow: 0 0 15px grey;
}
